@import '~assets/styles/poll-colors.scss';

.assignment-title {
    margin: 0 0 10px;
}

.slidetitle {
    margin-bottom: 15px;
}

.poll-title {
    display: flex !important;
}

.voters-wrapper {
    margin-top: 10px;

    .voters-table {
        width: 100%;
        td {
            background-color: #ffffff;
            padding: 0 2px;
            font-size: 0.75em;
            height: 50px;
            border: 1px solid black;
            line-height: 120%;
            text-align: center;
        }
        td.V {
            background-color: $votes-anonymous-color;
            color: $vote-active-color;
        }
    }
}
